{% extends "layout.html" %}

{% block body %}
  <div id='productNav'>
    <h1>This is the Product Navigation Area</h1>
  </div>
  <div id="productContainer">
    <div id="showcase">
      {% for category in category_list %}
        <div class="categoryTitle">
          <h2>{{ category['categoryName'] }}</h2>
        </div>
        {% for product in product_list %}
          {% if product['categoryID'] == category['categoryID'] %}
            <div class="productCard">
              <a href="#"><img src="/static/images/{{ product['categoryID'] }}_{{ product['productID'] }}.png" alt=""></a>
              <div class="cardTitle">
                <h2>{{ product['name'] }}</h2>
              </div>
              <div class="cardPrice">
                <span>{{ product['price'] }}</span>
              </div>
              <div class="cardExtra">
                <span>Additional Text</span>
              </div>
              <div class="add_to_cart">
                <a class="btn btn-danger" href="/cart/add/{{ product['categoryID'] }}/{{ product['productID'] }}/">Add to cart</a>
              </div>
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
