{% extends "layout.html" %}

{% block body %}
  <div id='productNav'>
    <h1>This is the Product Navigation Area</h1>
  </div>
  <div id="productContainer">
    <div id="showcase">
      <div class="categoryTitle">
        <h2>Category title goes here</h2>
      </div>
      <div class="productCard">
        <a href="#"><img src="/static/images/product1.png" alt=""></a>
        <div class="cardTitle">
          <h2>Product Title</h2>
        </div>
        <div class="cardPrice">
          <span>Product Price</span>
        </div>
        <div class="cardExtra">
          <span>Additional Text</span>
        </div>
      </div>
      <div class="categoryTitle">
        <h2>Category title goes here</h2>
      </div>
      <div class="productCard">
        <a href="#"><img src="/static/images/product1.png" alt=""></a>
        <div class="cardTitle">
          <h2>Product Title</h2>
        </div>
        <div class="cardPrice">
          <span>Product Price</span>
        </div>
        <div class="cardExtra">
          <span>Additional Text</span>
        </div>
      </div>
      <div class="categoryTitle">
        <h2>Category title goes here</h2>
      </div>
      <div class="productCard">
        <a href="#"><img src="/static/images/product1.png" alt=""></a>
        <div class="cardTitle">
          <h2>Product Title</h2>
        </div>
        <div class="cardPrice">
          <span>Product Price</span>
        </div>
        <div class="cardExtra">
          <span>Additional Text</span>
        </div>
      </div>
    </div>
  </div>
{% endblock%}
